@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Montserrat:300');

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans');
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #2b2b2b;
}

/* CUERPO DEL PROGRAMA */

body {
    width: 100%;
    background: #eee;
    font-size: 18px;
}

h1 {
    width: 100%;
    margin: 20px 0;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    background: linear-gradient(#112, #349af5);
    background-clip: text;
    color: #f44;
    -webkit-background-clip: text;
    -moz-bac-webkit-background-clip: text;
    -ms-bac-webkit-background-clip: text;
    -o-bac-webkit-background-clip: text;
}

/* ===== ESTILOS DE FORMULARIO ===== */

button {
    margin: 0 10px;
}

label {
    color: #2b2b2b;
}

/* ===== ESTILOS DE TABLA ===== */

table {
    border-collapse: collapse;
    width: 75%;
    position: relative;
    text-align: center;
    margin: 20px auto;
    background: linear-gradient( 45deg, rgba(32, 32, 32, .9), rgba(42, 39, 61, 0.9));
    background-attachment: fixed;
    background-position: center center;
    background-size: contain;
    transition: all .3s;
}

table,
th,
td {
    border: 1px solid #555;
}

table tr th,
table tr td {
    padding: 1em;
}

table tr td {
    transition: all .3s ease-in-out;
    text-align: center;
}

table tr:nth-child(1) th input,
table tr:nth-child(1) td {
    color: #3fa;
}

table tr td:nth-child(1) input,
table tr td:nth-child(1) {
    color: #3fa;
}

/* ESTILOS PARA LAS CELDAS */

.zelda-input,
.cabecera {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    border: none;
    background: transparent;
    font-size: 18px;
    color: #eee;
    transition: all .3s ease-in-out;
    text-align: center;
    position: relative;
    border-radius: 5px;
}

.celda {
    color: #eee;
    font-size: 18px;
}

.zelda-input:focus,
.cabecera:focus {
    background: rgba(255, 255, 255, .02);
}

.selected {
    color: #fff;
    transition: all .41s ease-in-out;
    background: rgba(203, 203, 203, .05);
}

.unselected {
    color: #666;
    transition: all .41s ease-in-out;
}

.normal {
    color: #2b2b2b;
}

/* ===== ESTILOS DE LOS INPUTS ===== */

.input-data {
    background: rgba(32, 32, 16, .1);
    border-radius: 5px;
    border: none;
    color: #2b2b2b;
    padding: 10px;
    font-family: 'Inconsolata', monospace;
    transition: all .2s ease-in-out;
    text-align: center;
}

.input-data:focus {
    outline: none;
}

.input-data:focus~.line {
    width: 100%;
    box-shadow: 0 0 1px #3fa;
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .5s ease-in-out;
    width: 0%;
    height: 2px;
    background: #f44;
}

.form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.input {
    margin: 10px;
    width: auto;
    height: 100%;
    position: relative;
}

#Generar,
#btn-random,
#btn-Nash-dominadas,
#btn-Nash-Pura,
#btn-Nash-Mixta,
#btn-Nash-Evolutiva {
    background: transparent;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

#Generar {
    color: #2b2b2b;
    border: 1px solid #2b2b2b;
    margin: 10px;
}

#btn-container {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:active {
    transform: scale(.96);
}

#btn-random {
    border: 1px solid #2b2b2b;
    color: #2b2b2b;
}

#btn-Nash-dominadas{
    border: 1px solid #ff5533;
    color: #ff5533;
}
#btn-Nash-Evolutiva{
    color: #7822e3;
    border: 1px solid  #7822e3;
}
#btn-Nash-Pura {
    border: 1px solid #349af5;
    color: #349af5;
}

#btn-Nash-Mixta {
    border: 1px solid #3d5;
    color: #3d5;
}

/* SOLUCIONES [EQUILIBRIO DE NASH] */

#soluciones {
    margin: 5%;
    padding: 2em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 3em;
    border-radius: 25px;
    transition: all .3s;
}

#soluciones h2,
#soluciones p {
    margin: 1em 0;
}

#soluciones .textoIzquierda {
    width: 80%;
}

.tablaDominada {
    width: 65%;
    transition: all .3s;
}
.button-ejemplos{
    width: 60px;
    height: 60px;
    position: fixed;
    top: 95%;
    left: 95%;
    transform: translate(-95%,-95%);
    background: #fff;
    display: flex;
    text-align: center;
    padding: 20px 0;
    color: #f33;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all .1s ease-in-out;
    cursor: pointer;
    
}   
.modal-Ejemplos{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(3,12,12,.95);
    /* background: rgba(32, 32, 32, .9); */
    z-index: -1;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn-ejemplos-active{
    background: #f44;
    color: white;
    z-index: 100;
}
.button-ejemplos p{
    color: unset;
}
.Ejemplos{

    width: auto;
    display: flex;
    flex-flow: column nowrap;
    transition: all .2s ease-in-out;

}
.Ejemplo-active{
    z-index: 1;
    opacity: 1;
}    
.Ejemplos .ejm img{
    max-width: 40px;
}
.ejm{
    margin: 20px 0;
}
.ejm p{
    font-family: 'Montserrat', sans-serif;

    margin-left: 20px;
}
.dilema-prisionero{
    width: auto;
    position: relative;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ff5757;
    border-radius: 100px;
    padding: 15px;
    transition: all .2s ease-in-out;
    cursor: pointer;   
}
.dilema-prisionero p{
    text-shadow: 0 0 20px #ff5757;
    color: #ff5757;
    letter-spacing: 2px;
}
.batalla-de-sexos{
    width: auto;
    position: relative;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 100px;
    padding: 15px;
    transition: all .2s ease-in-out;
    cursor: pointer; 
}
.batalla-de-sexos p{
    color: #4373fe;
    text-shadow: 0 0 20px #4373fe;
    letter-spacing: 2px;

}
.piedra-papel-tijera{
    width: auto;
    position: relative;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 100px;
    padding: 15px;
    transition: all .2s ease-in-out;
    cursor: pointer; 
}
.piedra-papel-tijera p{
    color: #ffee43;
    text-shadow: 0 0 20px #ffee43;
    letter-spacing: 2px;

}
.juego-gallina{
    width: auto;
    position: relative;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 100px;
    padding: 15px;
    transition: all .2s ease-in-out;
    cursor: pointer; 
}
.juego-gallina p{
    color: #3f7;
    text-shadow: 0 0 20px #3f7;
    letter-spacing: 2px;

}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    #btn-container {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    #btn-random,
    #btn-Nash-dominadas,
    #btn-Nash-Pura,
    #btn-Nash-Mixta, 
    #btn-Nash-Evolutiva{
        background: transparent;
        cursor: pointer;
        padding: 7px 15px;
        border-radius: 5px;
        transition: all .2s ease-in-out;
        margin: 5px 10px;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    #body h1 {
        font-size: 24px;
    }
    .form {
        width: 70%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-flow: column wrap;
        margin: 0 auto;
    }
    .ejm{
        margin: 10px 0;
    }
    .button-ejemplos{
        width: 40px;
        height: 40px;

        padding: 13px 0;
        
        transition: all .1s ease-in-out;
        cursor: pointer;
        font-size: 14px;
    }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}