@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #2b2b2b;
}

/* CUERPO DEL PROGRAMA */

body {
    width: 100%;
    background: linear-gradient( 45deg, #fff, #eee), url('../img/im2.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    font-size: 18px;
}

h1 {
    width: 100%;
    margin: 20px 0;
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'IBM Plex Mono', monospace;

    text-align: center;
    background: linear-gradient(#112, #349af5);
    background-clip: text;
    color: #f44;
    -webkit-background-clip: text;
    -moz-bac-webkit-background-clip: text;
    -ms-bac-webkit-background-clip: text;
    -o-bac-webkit-background-clip: text;
}

/* ===== ESTILOS DE FORMULARIO ===== */
button {
    margin: 0 10px;
}

label {
    color: #2b2b2b;
}

/* ===== ESTILOS DE TABLA ===== */
table {
    border-collapse: collapse;
    width: 75%;
    position: relative;
    text-align: center;
    margin: 20px auto;
    background: linear-gradient( 45deg, rgba(32, 32, 32, .9), rgba(42, 39, 61, 0.9));
    background-attachment: fixed;
    background-position: center center;
    background-size: contain;
    transition: all .3s;
}


table,
th,
td {
    border: 1px solid #555;
}

table tr th,
table tr td {
    padding: 1em;
}

table tr td {
    transition: all .3s ease-in-out;
    text-align: center;
}

table tr:nth-child(1) th input,
table tr:nth-child(1) td {
    color: #3fa;
}

table tr td:nth-child(1) input,
table tr td:nth-child(1) {
    color: #3fa;
}

/* ESTILOS PARA LAS CELDAS */
.zelda-input,
.cabecera {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    border: none;
    background: transparent;
    font-size: 18px;
    color: #eee;
    transition: all .3s ease-in-out;
    text-align: center;
    position: relative;
    border-radius: 5px;

}

.celda {
    color: #eee;
    font-size: 18px;
}

.zelda-input:focus,
.cabecera:focus {
    background: rgba(255, 255, 255, .02);
}

.selected {
    color: #fff;
    transition: all .41s ease-in-out;
    background: rgba(203,203,203,.05);
}

.unselected {
    color: #666;
    transition: all .41s ease-in-out;
}

.normal {
    color: #2b2b2b;
}

/* ===== ESTILOS DE LOS INPUTS ===== */
.input-data {
    background: rgba(32, 32, 16, .1);
    border-radius: 5px;
    border: none;
    color: #2b2b2b;
    padding: 10px;
    font-family: 'Inconsolata', monospace;
    transition: all .2s ease-in-out;
    text-align: center;
}

.input-data:focus {
    outline: none;
}

.input-data:focus~.line {
    width: 100%;
    box-shadow: 0 0 1px #3fa;
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .5s ease-in-out;
    width: 0%;
    height: 2px;
    background: #f44;
}

.form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.input {
    margin: 10px;
    width: auto;
    height: 100%;
    position: relative;
}

#Generar,
#btn-random,
#btn-Nash-dominadas,
#btn-Nash-Pura,
#btn-Nash-Mixta {
    background: transparent;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

#Generar {
    color: #2b2b2b;
    border: 1px solid #2b2b2b;
    margin: 10px;
}

#btn-container {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:active {
    transform: scale(.96);
}

#btn-random {
    border: 1px solid #2b2b2b;
    color: #2b2b2b;
}

#btn-Nash-dominadas {
    border: 1px solid #ff5533;
    color: #ff5533;
}

#btn-Nash-Pura {
    border: 1px solid #349af5;
    color: #349af5;
}

#btn-Nash-Mixta {
    border: 1px solid #3d5;
    color: #3d5;
}


/* SOLUCIONES [EQUILIBRIO DE NASH] */
#soluciones {
    margin: 5%;
    padding: 2em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    border-radius: 25px;
    transition: all .3s;
}



#soluciones h2,
#soluciones p {
    display: inherit;
    justify-content: inherit;
    align-content: center;
    margin: 1em 0;
}

.tablaDominada {
    width: 65%;
    transition: all .3s;
}

    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        #btn-container{
            display: block;
            width: 90%;
            margin: 0 auto;
        }
        #btn-random,
        #btn-Nash-dominadas,
        #btn-Nash-Pura,
        #btn-Nash-Mixta {
            background: transparent;
            cursor: pointer;
            padding: 7px 15px;
            border-radius: 5px;
            transition: all .2s ease-in-out;
            margin: 5px 10px;
        }           
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        #body h1{
            font-size: 24px;
        }
        .form{
            width: 70%;
            display: flex;
            justify-content: center;align-content: center;
            flex-flow: column wrap;
            margin: 0 auto;
        }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }